<h1>Batch#<%= @group.name %></h1>


<%red_graders = []%>
<%yellow_graders = []%>
<%green_graders = []%>
<%non_graders = []%>

<p> <% @students.each do |student| %></p>
  <%if student.grades == [] %>
    <% lastValue = 99%>
  <%else%>
    <% lastValue = student.grades.last.value%>
  <%end%>

  <% if lastValue == 0 %>
    <% red_graders << student %>
  <% elsif lastValue == 1 %>
    <% yellow_graders << student %>
  <% elsif lastValue == 2 %>
    <% green_graders << student %>
  <% else %>
    <% non_graders << student %>
  <%end%>



<%end%>

<p><% unless red_graders.empty? %>
    RED <%=(red_graders.count.to_f/(@students.count - non_graders.count).to_f*100).round(1)%> %
  <% end %>
  <% unless yellow_graders.empty? %>
    YELLOW <%=(yellow_graders.count.to_f/(@students.count - non_graders.count).to_f*100).round(1)%> %
  <%end%>
  <% unless green_graders.empty? %>
    GREEN <%=(green_graders.count.to_f/(@students.count - non_graders.count).to_f*100).round(1)%> %</p>
  <% end %>

<div class="flex-container">
 <% @students.each do |student| %>
 <div>
  <h2><%= link_to student.name, group_student_path(@group.id,student.id) %> </h2>
  <br />
  <%=link_to (image_tag student.photo), group_student_path(@group.id,student.id)%>


  <%if student.grades == [] %>
    <% lastValue = ""%>
  <%else%>
    <% lastValue = student.grades.last.value_to_text%>
  <%end%>
  <br />
  <%= lastValue %>

  <%= link_to "Delete Student", group_student_path(@group.id,student.id), method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to "Edit student", edit_group_student_path(@group.id,student.id) %>
</div>
<%end%>
</div>



<% unless @students.empty? %>
<%neo=the_chosen_one red_graders+non_graders, yellow_graders, green_graders%>
<% end %>



<br />
<br />
<br />
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
  Ask a question
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% unless @students.empty? %>
          <%=neo.name%>
          <%= image_tag neo.photo%>
        <% end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="window.location.reload()">Close</button>

      </div>
    </div>
  </div>
</div>


<br />

<%= render 'shared/addingStudents' %>

<br />
<br />
<br />
