<h1><%= @group.name %></h1>
<h3>Students </h3>

<%red_graders = []%>
<%yellow_graders = []%>
<%green_graders = []%>

<p> <% @students.each do |student| %></p>

  <%= link_to student.name, group_student_path(@group.id,student.id) %>
  <% lastValue = student.grades.last.value%>

  <% if lastValue == 0 %>
    <% red_graders << student %>
    <%= "red" %>
  <% elsif lastValue == 1 %>
    <% yellow_graders << student %>
    <%= "yellow" %>
  <% else %>
    <% green_graders << student %>
    <%= "green" %>
  <%end%>



<%end%>



<br />
<br />
<br />

<%neo=the_chosen_one red_graders, yellow_graders, green_graders%>




<br />
<br />
<br />
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Ask a question
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%=neo.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
