<%= form_for @student.grades.new, url: group_student_grades_path(@group.id,@student.id), method: :create do |f| %>


  <div class="form-group">
  <%= f.label :remark %>
  <%= f.text_field :remark %>
  </div>

  <%= f.radio_button :value, '2', :checked => true %>
  <%= label :value, 'Green' %>
  <%= f.radio_button :value, '1' %>
  <%= label :value, 'Yellow' %>
  <%= f.radio_button :value, '0' %>
  <%= label :value, 'Red' %>

  <div class="form-group">
  <%= f.label :date %>
  <%= f.date_select :date %>
  </div>
  <div class="form-group">
  <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
  <%= f.submit "Save" %>
  </div>
  <div class="actions">
  <%= f.submit "Save and next" %>
  </div>
<% end %>
