<h2> Add a new Student </h2>

<%= form_for [@group,@group.students.new], url: group_students_path(@group.id), method: :create do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>


      <%= f.label :surname %>
      <%= f.text_field :surname %>



      <%= f.label :photo %>
      <%= f.text_field :photo %>


      <%= f.submit "Submit", class: "btn btn-success" %>

<% end %>
