<h3>Add a new Group </h3>

<%= form_for [Group.new], url: groups_path, method: :create do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>


    <label>Start of class:</label>
      <%= f.date_select :start_date %>



      <label>End of class:</label>
      <%= f.date_select :end_date %>


      <%= f.submit "Submit", class: "btn btn-success" %>

<% end %>
